// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/styles.scss";

body {
    color: white;
    background-color: #30353a;
}


.row a{
    color:rgb(255, 255, 255);
    text-decoration: none;
}
.row a:hover{
    color:rgb(163, 163, 163);
    text-decoration: none
}




