---
layout: page
title: Logbog
background: '/img/posts/journal2.avif'
---

<div style="display:inline-block">
  <h3>Categories:</h3>

  <h5 style="float:left;padding-right: 10px; padding-left: 10px;" class="post-subtitle">
    
    <a href="{{ site.baseurl }}/posts/læringsplan.html"><i class="fa-solid fa-lines-leaning"></i> Læringsplan- og mål</a>
  </h5>

  <h5 style="float:left;padding-right: 10px; padding-left: 10px;" class="post-subtitle">
    
    <a href="{{ site.baseurl }}/posts/ML.html"><i class="fa-solid fa-circle-nodes"></i> Machine learning</a>
  </h5>

  <h5 style="float:left;padding-right: 10px; padding-left: 10px;" class="post-subtitle">
    
    <a href="{{ site.baseurl }}/posts/SPA.html"><i class="fa-solid fa-code"></i> Single Page Application</a>
  </h5>

  <h5 style="float:left;padding-right: 10px; padding-left: 10px;" class="post-subtitle">
    
    <a href="{{ site.baseurl }}/posts/logbog.html"><i class="fa-solid fa-book-bookmark"></i> Logbog</a>
  </h5>

  <h5 style="float:left;padding-right: 10px; padding-left: 10px;" class="post-subtitle">
    
    <a href="{{ site.baseurl }}/2023/08/28/litteraturliste.html"><i class="fa-solid fa-list"></i> Litteraturliste</a>
  </h5>

  <h5 style="float:left;padding-right: 10px; padding-left: 10px;" class="post-subtitle">
    
    <a href="index.html"><i class="fa-solid fa-folder-tree"></i> Back to all Categories</a>
  </h5>

</div>


{% for post in site.posts %}

{% if post.subtitle contains "Logbog" %}
    <article class="post-preview">
      <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
        <h2 class="post-title">{{ post.title }}</h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">{{ post.subtitle }}</h3>
        {% else %}
        <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
        {% endif %}
      </a>
      <p class="post-meta">Posted by
        {% if post.author %}
        {{ post.author }}
        {% else %}
        {{ site.author }}
        {% endif %}
        on {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}
      </p>
    </article>

    <hr>
    {% endif %}
{% endfor %}

